{{#expect signupUrl, expiresIn }}
<h2 style="background-color: blue;color:antiquewhite;text-align:center">
  Ourlife
</h2>
<div
  style=
  "padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;"
  >
   <a target="_blank" rel="noopener noreferrer" href="{{ signupUrl }}"> Click Me To Start Signup !</a>
   <p>Warning URL is only valid for {{ expiresIn }}</p>
</div>